.div-opciones{
    margin-top: 10px;
}
.div-a{
    display:flex;
    margin-top: 35px;
}
.div-input{
    position:absolute;
    margin-left: 300px;
}
.div-b{
    margin-top: 35px;
}
.div-checkbox{
    position:absolute;
    margin-left: 345px;
}
.container-checkbox{
    display:flex;
}
.div-form{
    display:flex;
}
.div-button{
    margin-left: 600px;
}
.div-caract{
    margin-top: 35px;
    margin-left: 420px;
}
.div-titulo{
    display:flex;
}
.div-drag-area{
    margin-top: 50px;
}