.div-opciones{
    margin-top: 10px;
}
.div-a{
    display:flex;
    margin-top: 35px;
}
.div-input{
    position:absolute;
    margin-left: 300px;
}
.div-b{
    margin-top: 35px;
}
.div-checkbox{
    position:absolute;
    margin-left: 345px;
}
.container-checkbox{
    display:flex;
}
.div-form{
    display:flex;
}
.div-button{
    margin-left: 600px;
}
.div-caract{
    margin-top: 35px;
    margin-left: 420px;
}
.div-titulo{
    display:flex;
}
.div-drop-area{
    margin-top: 50px;
    border: 5px dashed #ddd;
    height: 400px;
    width: 550px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.div-drop-area.active{
    background-color: #b8d4fe;
    color: rgb(20, 20, 20);
    border: 2px dashed #618ac9;
}
.div-drop-area h2{
    font-size: 30px;

}
.div-drop-area span{
    font-size: 25px;
}
.file-container{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border: solid 1px #ddd;
}
#preview{
    margin-top: 10px;
}
.status-text{
    padding: 0 10px;
}
.success{
    color: #52ad5a;
}
.failure{
    color: #ff0000;
}